<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>华北电力大学学生处</title>
    <link href="/static/css/css1css.css" type="text/css" rel="Stylesheet" />
    <link href="/static/css/publicss.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.6.core.widget.js"></script>
    <script src="/static/js/jqueryui.bannerize.js"></script>
    <script language="JavaScript">
        window.onload = function () {
            var lis = document.getElementById('cssdropdown').getElementsByTagName('li');
            for (i = 0; i < lis.length; i++) {
                var li = lis[i];
                if (li.className == 'headlink') {
                    li.onmouseover = function () { this.getElementsByTagName('ul').item(0).style.display = 'block'; }
                    li.onmouseout = function () { this.getElementsByTagName('ul').item(0).style.display = 'none'; }
                }
            }
        }
        /* or with jQuery:
        $(document).ready(function(){
        $('#cssdropdown li.headlink').hover(
        function() { $('ul', this).css('display', 'block'); },
        function() { $('ul', this).css('display', 'none'); });
        });
        */
        $(document).ready(function () {
            $('#banners').bannerize({
                shuffle: 1,
                interval: "5"
            });
        });
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <div class="topimg">
    </div>
    <div class="main">
        <div style="height: 50px;">
            <ul id="cssdropdown">
                <li class="headlink"><a href="/">首页</a></li>
                <li class="headlink"><a href="{% url apps.WorkingTrends.views.list name='all' %}">工作动态</a> </li>


   
   
    
    
    
    

                <li class="headlink"><a name="all" href="{% url apps.EducationLoans.views.list name='all' %}" class="_fw-7 _t-f">助学贷款</a>
                    <ul>
                        <li> <a name="zzgl" href="{% url apps.EducationLoans.views.list name='zzgl' %}" class="_t-f">资助管理</a></li>
                        <li> <a name="qgzx" href="{% url apps.EducationLoans.views.list name='qgzx' %}" class="_t-f">勤工助学</a></li>
                        <li><a name="zxdk" href="{% url apps.EducationLoans.views.list name='zxdk' %}" class="_t-f">助学贷款</a></li>
                        <li><a name="ylbx" href="{% url apps.EducationLoans.views.list name='ylbx' %}" class="_t-f">医疗保险</a></li>
                        <li><a name="bcdc" href="{% url apps.EducationLoans.views.list name='bcdc' %}" class="_t-f">补偿贷偿</a><br></li>
                        <li><a name='other' href="{% url apps.EducationLoans.views.list name='other' %}" class="_t-f">其他</a></li>
                       
                    </ul>

                </li>
                <li class="headlink"><a name="all" href="{% url apps.FundedProjects.views.list name='all' %}" class="_fw-7 _t-f">资助项目</a>
                    <ul>
                        <li><a name="xggg" href="{% url apps.FundedProjects.views.list name='xggg' %}" class="_t-f">相关公告</a></li>
                        <li><a name="gzdt" href="{% url apps.FundedProjects.views.list name='gzdt' %}" class="_t-f">工作动态</a></li>
                        <li><a name="zzzc" href="{% url apps.FundedProjects.views.list name='zzzc' %}" class="_t-f">资助政策</a></li>
                        <li><a name="bszn" href="{% url apps.FundedProjects.views.list name='bszn' %}" class="_t-f">办事指南</a></li>
                        <li><a name="xmjs" href="{% url apps.FundedProjects.views.list name='xmjs' %}" class="_t-f">项目介绍</a></li>
                        <li><a name='wdxz' href="{% url apps.FundedProjects.views.list name='wdxz' %}" class="_t-f">文档下载</a></li>
                        <li><a name='other' href="{% url apps.FundedProjects.views.list name='other' %}" class="_t-f">其他</a></li>
                    </ul>
                </li>
                <li class="headlink"><a href="{% url apps.Compensation.views.list name='all' %}">补偿代偿</a>
                <ul>
                        <li><a name="xggg" href="{% url apps.Compensation.views.list name='xggg' %}" class="_t-f">相关公告</a></li>
                        <li><a name="gzdt" href="{% url apps.Compensation.views.list name='gzdt' %}" class="_t-f">工作动态</a></li>
                        <li><a name="zzzc" href="{% url apps.Compensation.views.list name='zzzc' %}" class="_t-f">资助政策</a></li>
                        <li><a name="bszn" href="{% url apps.Compensation.views.list name='bszn' %}" class="_t-f">办事指南</a></li>
                        <li><a name='wdxz' href="{% url apps.Compensation.views.list name='wdxz' %}" class="_t-f">文档下载</a></li>
                        <li><a name='other' href="{% url apps.Compensation.views.list name='other' %}" class="_t-f">其他</a></li>
                    </ul>
                </li>

    
    
    
    
   
    

                <li class="headlink"><a name="all" href="{% url apps.WorkStudy.views.list name='all' %}" class="_fw-7 _t-f">勤工助学</a>
                    <ul>
                        <li><a name="xggg" href="{% url apps.WorkStudy.views.list name='xggg' %}" class="_t-f">相关公告</a></li>
                        <li><a name="gzdt" href="{% url apps.WorkStudy.views.list name='gzdt' %}" class="_t-f">工作动态</a></li>
                        <li><a name="zzzc" href="{% url apps.WorkStudy.views.list name='zzzc' %}" class="_t-f">资助政策</a></li>
                        <li><a name="bszn" href="{% url apps.WorkStudy.views.list name='bszn' %}" class="_t-f">办事指南</a></li>
                        <li> <a name="zpxx" href="{% url apps.WorkStudy.views.list name='zpxx' %}" class="_t-f">招聘信息</a></li>
                        <li><a name="qgzx" href="{% url apps.WorkStudy.views.list name='qgzx' %}" class="_t-f">勤工助学</a></li>
                        <li><a name='wdxz' href="{% url apps.WorkStudy.views.list name='wdxz' %}" class="_t-f">文档下载</a></li>
                    </ul>
                </li>
    
    
    
    
    
    
                <li class="headlink"><a name="all" href="{% url apps.MedicalInsurance.views.list name='all' %}" class="_fw-7 _t-f">医疗保险</a>
                    <ul>
                        <li><a name="xggg" href="{% url apps.MedicalInsurance.views.list name='xggg' %}" class="_t-f">相关公告</a></li>
                        <li><a name="gzdt" href="{% url apps.MedicalInsurance.views.list name='gzdt' %}" class="_t-f">工作动态</a></li>
                        <li><a name="zzzc" href="{% url apps.MedicalInsurance.views.list name='zzzc' %}" class="_t-f">资助政策</a></li>
                        <li><a name="bszn" href="{% url apps.MedicalInsurance.views.list name='bszn' %}" class="_t-f">办事指南</a></li>
                        <li><a name='wdxz' href="{% url apps.MedicalInsurance.views.list name='wdxz' %}" class="_t-f">文档下载</a></li>
                        <li><a name='other' href="{% url apps.MedicalInsurance.views.list name='other' %}" class="_t-f">其他</a></li>
                    </ul>
                </li>
                <li class="headlink"><a href="#">在线问答</a> </li>
                <li class="headlink"><a href="#">学生天地</a>
                    <ul>
                        <li><a href="#">最新动态</a></li>
                        <li><a href="#">自务会</a></li>
                        <li><a href="#">伙委会</a></li>
                        <li><a href="#">诚信、自励、感恩</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <div style="margin-left:-520px;">
                <div id="banners" class="ui-banner">
                    <ul class="ui-banner-slides">
                        <li><a href="#">
                            <img src="/static/images/HeartHealthOmega.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/CellLabs.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/RoyalSpa.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/Cashback.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/StealthShield.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/IsotonixEducate.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/MotivesSimple.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/UltimateAloeKwStb.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/OPC3AllBetter.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/RoyalSpaRoyalHair.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/JubileeRoyalPartyAcai.jpg" alt="" title="" /></a></li>
                        <li><a href="#">
                            <img src="/static/images/WorldStores.gif" alt="" title="" /></a></li>
                    </ul>
                    <!--ui-banner-slides end-->
                    <ul class="ui-banner-slogans">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                    </ul>
                    <!--ui-banner-slogans end-->
                </div>
            </div>
            <div class="work">
                <div class="worktit">
                    <span class="tit">工作动态</span>
                    <span class="more"><a href="{% url apps.WorkingTrends.views.list name='all' %}"><img src="/static/images/more.gif" alt="" title="" /></a></span>
                </div>
                <div class="smlcontent">
                    {% for i in W %}

                     <a href="{% url apps.WorkingTrends.views.detail i.id %}">{{ i.title|slice:"30" }}</a><br /><a href="#">{{ i.upTime|date:"Y.m.d" }}</a>
                     {% endfor %}
                     
                     {% for i in F %}

                     <a href="{% url apps.FundedProjects.views.detail i.id %}">{{ i.title|slice:"30" }}</a><br /><a href="#">{{ i.upTime|date:"Y.m.d" }}</a>
                     {% endfor %}
                     {% for i in WS %}

                     <a href="{% url apps.WorkStudy.views.detail i.id %}">{{ i.title|slice:"30" }}</a><br /><a href="#">{{ i.upTime|date:"Y.m.d" }}</a>
                     {% endfor %}
                     {% for i in M %}

                     <a href="{% url apps.MedicalInsurance.views.detail i.id %}">{{ i.title|slice:"30" }}</a><br /><a href="#">{{ i.upTime|date:"Y.m.d" }}</a>
                     {% endfor %}
                     {% for i in C %}

                     <a href="{% url apps.Compensation.views.detail i.id %}">{{ i.title|slice:"30"}}</a><br />
                     {% endfor %}
                    
                </div>
            </div>
            <div class="work block" id="guide">
                <div class="worktit">
                    <span class="tit">办事指南</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                    {% for i in F2 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in WS2 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in C2 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                   
                </div>
            </div>
            <div class="work block">
                <div class="worktit">
                    <span class="tit">资助政策</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                   {% for i in F3 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in WS3 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in C3 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                </div>
            </div>
            <div class="work block">
                <div class="worktit">
                    <span class="tit">最新公告</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                    {% for i in F4 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in WS4 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in C4 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in M4 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                </div>
            </div>
            <div class="work block seblock" id="down">
                <div class="worktit">
                    <span class="tit">文档下载</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                    {% for i in F5 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in WS5 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in C5 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                    {% for i in M5 %}
                    <a href="#">{{ i.title|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                </div>
            </div>
            <div class="work block seblock">
                <div class="worktit">
                    <span class="tit">在线问答</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                    {% for i in O6 %}
                    <a href="#">{{ i.question|slice:"13" }}</a><span>{{ i.upTime|date:"Y.m.d" }}</span><br />
                    {% endfor %}
                </div>
            </div>
            <div class="work block seblock">
                <div class="worktit">
                    <span class="tit">关于我们</span>
                    <span class="more"><a href="#"><img src="/static/images/more.gif" alt=""  title="" /></a></span>
                </div>
                <div class="smlcontent">
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a><br />
                    <a href="#">123</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>友情链接&nbsp;:<a href="#">华北电力大学北京校区&nbsp;&nbsp;</a>&nbsp;&nbsp;<a href="#">华北电力大学保定校区&nbsp;&nbsp;</a>&nbsp;&nbsp;<a href="#">科技学院</a></span><br />
        <a>电话：123456789&nbsp;&nbsp;987654321&nbsp;&nbsp;传真：12346789&nbsp;&nbsp;Email：78945613@163.com</a><br />
        <a>华北电力大学学生处&nbsp;版权所有&nbsp;&nbsp;技术支持：网络管理协会&nbsp;&nbsp;当前版本：123</a>
    </div>
</body>
</html>

